@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
  margin: 0px;
  padding: 0px;
  font-family: "Poppins", sans-serif;
}

:root {
  /* colors are definded here */
  --color-white: #ffffff;
  --color-faded-white: #f7f7f7;
  --color-lite-green: #cbe16a;
  --color-ink-dark: #1a2841;
  --color-lite-orange: #f97f29;
}

:root {
  /* variables */
  --progress-bar-height: 8px;
  --font-poppins: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--color-ink-dark);
  padding: 0px !important;
}

* {
  padding: 0px;
  margin: 0px;
}

ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style: none;
}

.mt-1 {
  margin-top: 1em !important;
}

.mt-2 {
  margin-top: 2em !important;
}

.mt-3 {
  margin-top: 3em !important;
}

.mt-4 {
  margin-top: 4em !important;
}

.mt-5 {
  margin-top: 5em !important;
}

.mb-1 {
  margin-bottom: 1em !important;
}

.mb-2 {
  margin-bottom: 2em !important;
}

.mb-3 {
  margin-bottom: 3em !important;
}

.mb-4 {
  margin-bottom: 4em !important;
}

.mb-5 {
  margin-bottom: 5em !important;
}

.ml-1 {
  margin-left: 1em !important;
}

.ml-2 {
  margin-left: 2em !important;
}

.ml-3 {
  margin-left: 3em !important;
}

.ml-4 {
  margin-left: 4em !important;
}

.ml-5 {
  margin-left: 5em !important;
}

.mr-1 {
  margin-right: 1em !important;
}

.mr-2 {
  margin-right: 2em !important;
}

.mr-3 {
  margin-right: 3em !important;
}

.mr-4 {
  margin-right: 4em !important;
}

.mr-5 {
  margin-right: 5em !important;
}

.m-0 {
  margin: 0 !important;
}

.m-1 {
  margin: 1em !important;
}

.m-2 {
  margin: 2em !important;
}

.m-3 {
  margin: 3em !important;
}

.m-4 {
  margin: 4em !important;
}

.pt-1 {
  padding-top: 1em !important;
}

.pt-2 {
  padding-top: 2em !important;
}

.pt-3 {
  padding-top: 3em !important;
}

.pt-4 {
  padding-top: 4em !important;
}

.pt-5 {
  padding-top: 5em !important;
}

.pb-1 {
  padding-bottom: 1em !important;
}

.pb-2 {
  padding-bottom: 2em !important;
}

.pb-3 {
  padding-bottom: 3em !important;
}

.pb-4 {
  padding-bottom: 4em !important;
}

.pb-5 {
  padding-bottom: 5em !important;
}

.pl-1 {
  padding-left: 1em !important;
}

.pl-2 {
  padding-left: 2em !important;
}

.pl-3 {
  padding-left: 3em !important;
}

.pl-4 {
  padding-left: 4em !important;
}

.pl-5 {
  padding-left: 5em !important;
}

.pr-1 {
  padding-right: 1em !important;
}

.pr-2 {
  padding-right: 2em !important;
}

.pr-3 {
  padding-right: 3em !important;
}

.pr-4 {
  padding-right: 4em !important;
}

.pr-5 {
  padding-right: 5em !important;
}

.p-0 {
  padding: 0 !important;
}

.p-1 {
  padding: 1em !important;
}

.p-2 {
  padding: 2em !important;
}

.p-3 {
  padding: 3em !important;
}

.m-4 {
  margin: 4em !important;
}

.my-container {
  width: 100%;
  padding: 0 3em;
  box-sizing: border-box;
}

.label {
  font-size: 13px !important;
  border-radius: 15px;
  display: inline-block;
  padding: 3px 8px !important;
  color: var(--color-ink-dark);
}

.label.green-label {
  background-color: var(--color-lite-green);
}

.label.dark-label {
  background-color: var(--color-ink-dark);
  color: var(--color-white);
}

@media screen and (max-width: 800px) {
  .my-container {
    padding: 0em 2em;
  }
}

/* ========================
      WEATHER CARD
============================*/
.weather-card {
  width: 400px;
  position: relative;
  border-radius: 22px;
  padding: 1.5em;
  box-sizing: border-box;
}

.weather-card img {
  position: relative;
  width: 400px;
  border-radius: 22px;
  z-index: -1;
}

.weather-card .weather-card-header {
  display: grid;
  grid-template-columns: auto 1fr;
}

.weather-card .weather-card-header .weather-header-icon {
  background-color: #ffffff;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  padding: 0.8em;
}

.weather-header-icon svg {
  transition: all 700ms ease-in;
}

.weather-header-icon:hover svg path {
  animation: pathanim 700ms ease;
}

@keyframes pathanim {
  0% {
    stroke-dashoffset: -1000;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

.weather-card .weather-card-header p {
  font-size: 0.9em;
}

.weather-card .weather-card-header.light h3,
.weather-card .weather-card-header.light p {
  color: var(--color-faded-white);
}

.weather-header-container {
  margin-left: 1em;
}

.weather-header-container h3 {
  font-weight: bold;
}

.weather-container {
  margin-top: 0.8em;
}

.weather-number {
  display: flex;
  align-items: center;
}

.weather-number .air-quality-heading {
  color: var(--color-faded-white);
}

.air-quality-label {
  color: var(--color-faded-white);
}

.weather-number .weather-tag {
  background-color: var(--color-faded-white);
  padding: 4px 8px;
  border-radius: 12px;
  margin-left: 1em;
}

.weather-number .weather-tag p {
  font-weight: 600;
}

.weather-tag-air {
  background-color: var(--color-lite-green) !important;
}

.weather-tag-air p {
  color: var(--color-faded-white);
}

.weather-footer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 10px;
  margin-top: 2.6em;
}

.weather-footer-card {
  background-color: var(--color-ink-dark);
  padding: 10px 10px;
  display: grid;
  place-items: center;
  border-radius: 17px;
}

.weather-footer-card:nth-child(1) p,
.weather-footer-card:nth-child(1) h3 {
  color: var(--color-faded-white);
}

.weather-footer-card:nth-child(2) {
  background-color: var(--color-lite-green);
}

.weather-footer-card:nth-child(3) {
  background-color: var(--color-faded-white);
}

.weather-footer-card p {
  font-size: 0.8rem;
}

.weather-footer-card h3 {
  font-size: 1rem;
}

.air-quality-footer {
  background-color: var(--color-faded-white);
  border-radius: 17px;
  box-sizing: border-box;
  margin-top: 2em;
  padding: 1em;
}

.air-quality-footer-labels {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.air-quality-footer-labels p {
  font-size: 0.8rem;
}

.air-quality-footer progress {
  width: 100%;
  height: 15px;
  margin-top: 0.5em;
  appearance: none;
  border-radius: var(--progress-bar-height);
  height: var(--progress-bar-height);
}

progress::-webkit-progress-bar {
  background-color: #e4cfc1;
  border-radius: var(--progress-bar-height);
}

progress::-webkit-progress-value {
  background-color: var(--color-lite-orange);
  border-radius: var(--progress-bar-height);
}
