/**===============================
        NAVIGATION BAR
==================================**/
.navbar {
  background-color: var(--color-white);
  width: 5.7vw;
  height: 100vh;
  box-sizing: border-box;
  border-right: 1px solid #ccc;
  position: fixed;
  top: 0px;
  left: 0px;
  padding-top: 5em;

  ul {
    display: grid;
    align-items: center;
    box-sizing: border-box;
    position: relative;
    display: inline-block;
    width: 100%;

    li {
      padding: 10px;
      margin: 10px 0;

      .nav-link {
        transition: all 700ms ease-in-out;

        a {
          text-align: center;
          display: grid;
          place-items: center;
        }

        svg {
          height: 1.2em;
        }
      }
    }

    li.active svg {
      height: 1.4em;
      fill: #ffffff;
    }

    li.active svg #ic-sport-basketball {
      stroke: #ffffff;
    }

    li.active .nav-link {
      padding: 14px;
      border-radius: 12px;
      background-color: var(--color-lite-orange);
    }
  }
}

/**===============================
    MAIN CONTAINER
===================================**/

.main-container {
  position: relative;
}

/**===============================
    WEATHER PREDICTION CARD
===================================**/

.weather-prediction-card {
  background-color: var(--color-white);
  border-radius: 20px;
  padding: 1em;
  display: grid;
  margin-top: 1em;
  align-items: center;
  grid-template-columns: auto 1fr;

  .weather-prediction-icon {
    display: grid;
    align-items: center;
  }

  .weather-report {
    margin-left: 1em;

    p {
      font-size: 0.9em;
    }

    div {
      display: grid;
      grid-template-columns: 1fr 1fr;

      p {
        font-size: 0.9em;
        font-weight: bold;
        color: var(--color-lite-orange);
        text-align: right;
      }
    }
  }
}

/**============================
          SIDE BAR 
===============================**/
.side-bar {
  width: 25vw;
  box-sizing: border-box;
  position: absolute;
  right: 0px;
  background-color: var(--color-faded-white);

  .side-bar-container {
    height: 100vh;
    box-sizing: border-box;
    padding: 1em;
    position: relative;

    button {
      position: absolute;
      bottom: 0px;
      right: 0px;
      margin: 1em;
      background-color: var(--color-lite-orange);
      border: none;
      padding: 1em;
      color: var(--color-white);
      border-radius: 12px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      * {
        pointer-events: none;
      }

      svg {
        height: 1.3rem;
      }

      label {
        margin: 0px;
        margin-left: 0.5rem;
        font-family: var(--font-poppins);
        font-size: 1em;
      }
    }
  }
}

/**==============================
      UVI CARD STYLES
================================**/
.uvi-card {
  display: grid;
  position: relative;
  grid-template-columns: auto 1fr;
  align-items: center;

  .uvi-card-icon {
    display: grid;
    align-items: center;

    svg {
      height: 2.6em;
    }
  }

  .uvi-card-content {
    margin-left: 1em;

    .uvi-card-container {
      display: flex;
    }

    p {
      font-size: 0.9rem;
    }
  }
}

/**==============================
      LOCATION SELECTOR
================================**/
.locaton-selector {
  padding: 1em;
  display: grid;
  position: relative;
  grid-template-columns: 1fr auto;
  align-items: center;

  h2 {
    color: var(--color-lite-orange) !important;
  }
}

/**==============================
      LOCATION SELECTOR
================================**/
.current-location {
  margin: 1em;
  display: grid;
  grid-template-columns: auto 1fr;
  place-content: center;
  width: fit-content;

  .current-location-icon {
    padding: 8px 16px;
    border-radius: 12px;
    display: grid;
    place-items: center;
    background-color: var(--color-lite-green);

    svg {
      height: 1.5em;
    }
  }

  .location-label {
    margin-left: 1rem;

    p {
      font-size: 0.9rem;
    }
  }
}

/**==============================
      SPORTS CARD
================================**/
.sport-card {
  h3 {
    color: var(--color-white) !important;
  }
}
